<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiddle.kiddlewalimurid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.PengumumanActivity"></activity>
        <activity android:name=".UI.PengaturanActivity" />
        <activity android:name=".UI.CaraPembayaranActivity" />
        <activity android:name=".UI.ProfilSekolahActivity" />
        <activity android:name=".UI.DetailGuruActivity" />
        <activity android:name=".UI.DetailParentingActivity" />
        <activity android:name=".UI.DetailMateriActivity" />
        <activity android:name=".UI.DetailPengumumanActivity" />
        <activity android:name=".UI.DetailJurnalActivity" />
        <activity android:name=".UI.DetailTugasActivity" />
        <activity android:name=".UI.PresensiActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".UI.DetailKegiatanActivity" />
        <activity android:name=".UI.TugasActivity" />
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>