<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiddle.kiddlewalimurid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity"></activity>
        <activity android:name=".onboarding.OnboardingRapor" />
        <activity android:name=".onboarding.OnboardingPembayaran" />
        <activity android:name=".onboarding.OnboardingJurnal" />
        <activity android:name=".onboarding.OnboardingPresensi" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.KonfirmasiPembayaranActivity" />
        <activity android:name=".ui.DetailKegiatanActivity" />
        <activity android:name=".ui.KegiatanActivity" />
        <activity android:name=".ui.EditProfil" />
        <activity android:name=".ui.PengumumanActivity" />
        <activity android:name=".ui.PengaturanActivity" />
        <activity android:name=".ui.CaraPembayaranActivity" />
        <activity android:name=".ui.ProfilSekolahActivity" />
        <activity android:name=".ui.DetailPengumumanActivity" />
        <activity android:name=".ui.DetailJurnalActivity" />
        <activity android:name=".ui.DetailTugasActivity" />
        <activity android:name=".ui.PresensiActivity" />
        <activity android:name=".ui.TugasActivity" />
        <activity android:name=".ui.GuruActivity" />
        <activity android:name=".ui.NotifikasiActivity" />
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>